.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(5px);
    z-index: 200;
    display: none;
    justify-content: center;
    padding-top: 50px;
    overflow-x: hidden;
}

.active {
    display: flex;
}

.modal {
    max-width: 1130px;
    padding: 40px;
    position: relative;
    background-color: #171718;
    border-radius: 16px;
    height: fit-content;
    margin-bottom: 50px;
}

.modal::after, .modal::before {
    content: "";
    position: absolute;
    top: 40px;
    right: 40px;
    height: 1.4px;
    width: 16px;
    background-color: #fff;
}

.modal::after {
    transform: rotate(45deg);
}

.modal::before {
    transform: rotate(-45deg);
}

.close {
    position: absolute;
    top: 28px;
    right: 35px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    z-index: 1;
}

.title {
    font-size: 22px;
    line-height: 28px;
}

.title span {

}

.amountTitle {
    margin-top: 17px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
}

.input {
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: 1px solid #242428;
    align-items: center;
    font-size: 14px;
    color: #3b3b3f;
    background-color: #171718;
    height: 61px;
    position: relative;
    margin-bottom: 30px;
}

.input > div {
    padding-left: 8px;
    min-width: 80px;
    max-width: 80px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    text-align: end;
    padding-right: 40px;
}

.input > div::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    width: 12px;
    height: 2px;
    background-color: #3b3b3f;
    transform: translateY(-50%) rotate(45deg);
}

.input > div::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 12px;
    height: 2px;
    background-color: #3b3b3f;
    transform: translateY(-50%) rotate(-45deg);
}

.input::after {
    /*content: "$";*/
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 82px;
    color: #3b3b3f;
    font-size: 18px;
}

.input input {
    background-color: #212123;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 38px;
    padding-right: 18px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
}

.settings {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 37px;
}

.settings > div {
    max-width: 500px;
}

.balancing {
    width: 100%;
}

.switchBalance {
    width: 100%;
    display: flex;
    background-color: #212123;
    height: 50px;
    border-radius: 9px;
    margin-bottom: 30px;
}

.switchBalance > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.aiBalance {
    color: #555e67;
}

.manualBalance {
    background: linear-gradient(98deg, #6B3EED 0%, #963EED 99.39%);
    color: #FFFFFF;
    border-radius: 0 9px 9px 0;
}

.token + div {
    margin-top: 20px;
}

.token {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.token img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.name {
    font-size: 14px;
    color: #a6a9a9;
    min-width: 45px;
}

.rangebar {
    width: 100%;
    max-width: 277px;
    padding: 0 10px;
}

.percent {
    min-width: 74px;
    max-width: 74px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212123;
    border-radius: 10px;
    border: 1px solid #242428;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.percentSymbol {
    position: relative;
    min-width: 74px;
    max-width: 74px;
    height: 42px;
}

.percentSymbol p {
    position: absolute;
    font-size: 14px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    font-weight: 400;
    pointer-events: none;
}

.percentSymbol span {
    -webkit-padding-before: 2px;
}

.agree {
    padding: 24px 20px 24px 54px;
    position: relative;
    background-color: #212123;
    font-size: 14px;
    line-height: 20px;
    border-radius: 12px;
}

.agree + div {
    margin-top: 20px;
}

.checkbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 4px;
    background: linear-gradient(274deg, #6B3EED 8.51%, #963EED 82.64%), #3399F6;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    left: 24px;
}

.agreeTitle {
    font-weight: 600;
    margin-bottom: 8px;
}

.agreeText {
    color: #a6a9a9;
}

.buttons {
    display: flex;
    gap: 24px;
    margin-top: 30px;
}

.buttons > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    border-radius: 9px;
}

.investButton {
    background: linear-gradient(98deg, #6B3EED 0%, #963EED 99.39%);
}

.stopButton {
    background: linear-gradient(111deg, #D75E57 12.87%, #AE2F28 84.31%), linear-gradient(98deg, #6B3EED 0%, #963EED 99.39%);
}

.selectModal {
    cursor: pointer;
    color: white;
    background: linear-gradient(180deg, rgb(106.62, 62.2, 236.94) 0%, rgb(149.57, 62.2, 236.94) 100%);
    border-radius: 9px;
    height: 38px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 576px) {
    .modal {
        padding: 30px 24px 24px;
    }
}

@media (max-width: 500px) {
    .token {
        flex-wrap: wrap;
        justify-content: left;
    }

    .rangebar {
        min-width: calc(100% - 94px);
        width: calc(100% - 94px);
        padding: 0 10px 0 0;
    }

    .title {
        font-size: 20px;
    }

    .amountTitle {
        margin-top: 24px;
        margin-bottom: 14px;
    }

    .input {
        height: 50px;
    }

    .switchBalance > div {
        font-size: 14px;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons > button {
        width: 100%;
    }
}