.modalBg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    border: none;
    background: rgba(0, 0, 0, .7);
    font-family: inherit;
    font-size: 1em;
    z-index: 999;
}

.modal {
    width: 16em;
    padding: 1.25em;
    border-radius: 5px;
    background: rgb(25, 25, 26);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 150px;
}

.modalButton {
    cursor: pointer;
    color: white;
    background: linear-gradient(180deg, rgb(106.62, 62.2, 236.94) 0%, rgb(149.57, 62.2, 236.94) 100%);
    border-radius: 9px;
    height: 38px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.connectButton {
    cursor: pointer;
    color: white;
    background: linear-gradient(180deg, rgb(106.62, 62.2, 236.94) 0%, rgb(149.57, 62.2, 236.94) 100%);
    border-radius: 9px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.connectButton + .connectButton {
    margin-top: 20px;
}